<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./static/assets/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="./static/assets/favicon.ico" rel="icon">

 

  <title>Title page</title>  

<link href="./static/main.a3f694c0.css" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle uarr collapsed" data-toggle="collapse" data-target="#navbar-collapse-uarr">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./index.html" title="">
          <img src="./static/assets/images/mashuptemplate.svg" class="navbar-logo-img" alt="">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-uarr">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="./index.html" title="" class="active">Home</a></li>
          <li><a href="./classes.html" title=""> Our Classes</a></li>
          <li><a href="./pricing.html" title=""> Pricing </a></li>
          <li><a href="./contact.html" title="">Contact</a></li>
          <li><a href="./registration.html" title="">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>




<div class="section-container">
    <div class="container">
        <div class="row section-container-spacer">
            <div class="col-xs-12">
                <div class="text-center">
                    <h1>Pricing</h1>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <p>Here will be some info on our prices. For now, say 1 lesson is 20 uah, 5 lessons
                      is 50 uah and 20 lessons is 100 uah. This is obviously just an example for now.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="pricing-card pricing-primary">
                    <h3>Per lesson</h3>
                    <h6 class="price">20 <span>uah</span></h6>
                </div>
                <div class="pricing-features">
                    <ul class="features">
                      <li>Face-to-face learning with a teacher</li>
                        <li>Incudes all resourses used in a lesson</li>
                        <li>Includes a practice test</li>
                        <li>Gives an access to 3 free online videos</li>
                    </ul>

                    <a href="contact.html" class="btn btn-primary" title="">Subscribe</a>
                </div>

            </div>
            <div class="col-md-4">
                <div class="pricing-card pricing-info">
                    <h3>Package of 5 lessons</h3>
                    <h6 class="price"> 50 <span>uah</span></h6>
                </div>
                <div class="pricing-features">
                    <ul class="features">
                      <li>Face-to-face learning with a teacher</li>
                      <li>Incudes all resourses used in a lesson</li>
                      <li>Includes two practice tests</li>
                      <li>Gives an access to 5 free online videos</li>
                    </ul>
                    
                    <a href="contact.html" class="btn btn-primary" title="">Subscribe</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-card pricing-secondary">
                    <h3>Package of 20 lessons</h3>
                    <h6 class="price">100 <span>uah</span></h6>
                </div>
                <div class="pricing-features">
                    <ul class="features">
                      <li>Face-to-face learning with a teacher</li>
                      <li>Incudes all resourses used in a lesson</li>
                      <li>Incudes extra resourses to be used outside the lesson</li>
                      <li>Includes 5 practice tests</li>
                      <li>Gives an access to 10 free online videos</li>
                    </ul>
                    <a href="contact.html" class="btn btn-primary" title="">Subscribe</a>
                </div>
            </div>
            <div class="col-md-4">
              <div class="pricing-card pricing-primary">
                  <h3>Package of 20 pre-filmed videos</h3>
                  <h6 class="price">50 <span>uah</span></h6>
              </div>
              <div class="pricing-features">
                  <ul class="features">
                    <li>Online pre-filmed classes</li>
                    <li>Can be watched online or downloaded</li>
                    <li>Includes a practice test</li>
                  </ul>
                  <a href="contact.html" class="btn btn-primary" title="">Subscribe</a>
              </div>
          </div>
          <div class="col-md-4">
            <div class="pricing-card pricing-info">
                <h3>Package of 50 pre-filmed videos</h3>
                <h6 class="price">70 <span>uah</span></h6>
            </div>
            <div class="pricing-features">
                <ul class="features">
                  <li>Online pre-filmed classes</li>
                  <li>Can be watched online or downloaded</li>
                  <li>Includes a practice test</li>
                </ul>
                <a href="contact.html" class="btn btn-primary" title="">Subscribe</a>
            </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-card pricing-secondary">
              <h3>Package of 100 pre-filmed videos</h3>
              <h6 class="price">100 <span>uah</span></h6>
          </div>
          <div class="pricing-features">
              <ul class="features">
                <li>Online pre-filmed classes</li>
                <li>can be watched online or downloaded</li>
                <li>Includes a practice test</li>
              </ul>
              <a href="contact.html" class="btn btn-primary" title="">Subscribe</a>
          </div>
      </div>
        </div>

    </div>
</div>  


<footer>
  <div class="section-container footer-container">
      <div class="container">
          <div class="row">
                  <div class="col-md-4">
                      <h4>About us</h4>
                      <p>What about us? Let's add something here</p>
                  </div>

                  <div class="col-md-4">
                    <h4>Want to know more? Visit us!</h4>
                      <p>
                          <a href="https://facebook.com/" class="social-round-icon white-round-icon fa-icon" title="">
                          <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://instagram.com/" class="social-round-icon white-round-icon fa-icon" title="">
                          <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                      </p> 
                  </div>

                  <div class="col-md-4">
                      <p><small>© Untitled | Website created with <a href="http://www.mashup-template.com/" class="link-like-text" title="Create website with free html template">Mashup Template</a>/<a href="http://www.unsplash.com/" class="link-like-text" title="Beautiful Free Images">Unsplash</a></small></p>  
                  </div>
          </div>
      </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> 
<script type="text/javascript" src="./static/main.41beeca9.js"></script></body>

</html>